<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{database002}}</title>
    <link rel="shortcut icon" href="art.ico">
</head>
<style>
    ::selection {
        color: #754b44;
        background-color: #a1878a;
    }
    a, a:active, a:visited {
      color: #5695D1;
      text-decoration: none;
    }
    a:hover {
      color: #D66E95;
    }
    body {
        background-color: #040303;
        color: #fcfcfc;
    }
    footer {
        align: center;
    }
    h1, h2, h3, h4, h5, p, ul, li, a {
        color: #e6c2c6;
        padding: 0.5rem;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    </style>
<body>
    <p class="aligncenter">
        <img src="art.png" alt="" />
    </p> 
    <h1>welcome to database002</h1>
    <p style="color: brown;">welcome to database002! this website includes useful dotfiles, config files, text files etc. if you want to browse the website, you can click on the link below :D</p>
    <ul><li><a href="portal.html" style="color: firebrick;">//portal-database002</a></li></ul>
</body>
</html>