<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{database002-links}}</title>
    <link rel="shortcut icon" href="art.ico">
</head>
<style>    ::selection {
    color: #754b44;
    background-color: #a1878a;
}
a, a:active, a:visited {
  color: #5695D1;
  text-decoration: none;
}
a:hover {
  color: #D66E95;
}
body {
    background-color: #040303;
    color: #fcfcfc;
}
footer {
    align: center;
}
h1, h2, h3, h4, h5, p, ul, li, a {
    color: #e6c2c6;
    padding: 0.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}</style>
<body>
    <p>link 1/dwm config 1<a href="https://tinyurl.com/sutluyol" style="color: red;">//</a></p>
    <p>link 2/dwm config 2 <a href="https://tinyurl.com/aptaloc" style="color: red;">//</a></p>
    <p>link 3/dwm config 3 <a href="https://tinyurl.com/blackdwm" style="color: red;">//</a></p>
</body>
</html>