
::selection {
	color: #754b44;
	background-color: #a1878a;
}
a, a:active, a:visited {
  color: #5695D1;
  text-decoration: none;
}
a:hover {
  color: #D66E95;
}
body {
	background-color: #040303;
	color: #fcfcfc;
}
footer {
	align: center;
}
h1, h2, h3, h4, h5, p, ul, li, a {
	color: #e6c2c6;
	padding: 0.5rem;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
