<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{databse002-portal}}</title>
    <link rel="shortcut icon" href="art.ico">
    <a href="index.html" style="color: rgb(92, 155, 155);">database002</a>
    <p>-------------------------------------------------------------</p>
</head>
<style>
    ::selection {
        color: #754b44;
        background-color: #a1878a;
    }
    a, a:active, a:visited {
      color: #5695D1;
      text-decoration: none;
    }
    a:hover {
      color: #D66E95;
    }
    body {
	background-color: #040303;
    color: #e6c2c6;
    }
    footer {
        align: center;
    }
    h1, h2, h3, h4, h5, p, ul, li, a {
        color: #fcfcfc;
        padding: 0.5rem;
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
    }
</style>
<body>
    <h1>database002's portal section</h1>
    <h2><a href="files">files</a></h2>
    <h2><a href="links.html">links</a></h2>
    <h2><a href="txt.html">txt</a></h2>
    <h2><a href="https://git.sr.ht/~database2/database2.net"> git repostory</a></h2>
    <p>more will be added soon.</p>
    
</body>
</html>