<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{database002-txt}}</title>
    <link rel="stylesheet" href="main.css">
    <a href="portal.html">database002</a>
    <link rel="shortcut icon" href="art.ico">
</head>
<style>::selection {
	color: #754b44;
	background-color: #a1878a;
}
a, a:active, a:visited {
  color: #5695D1;
  text-decoration: none;
}
a:hover {
  color: #D66E95;
}
body {
	background-color: #040303;
	color: #fcfcfc;
}
footer {
	align: center;
}
h1, h2, h3, h4, h5, p, ul, li, a {
	color: #e6c2c6;
	padding: 0.5rem;
	text-align: left;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}</style>
<body>
    <div style="display:table;margin:16px auto" id=a><div id=b><pre>                                 |
        |txt-database2                                                                               |
        |text only. no javascript, no clients like wordpress. only html and text.                    |
        |----------                                                                                  |
        |created                                                                                     |
        |by database2.                                                                               |
        |--------------------------------------------------------------------------------------------|
        <h1>-------------------------------------------------------------</h1>
        <h1>database2-tools bash script.</h1>
        <p>database2-tools.sh is a useful bash script for the admin of the website. you can modify it according to your own, source code to be shared soon.</p>
        <p>How it works: in the output.cpt (md5 file, encrypted) login, if the password entered by the user matches the md5 file, the database2-tools script allows the user to access the data, downloads the file named passwords.txt.cpt (encrypted with ccrypt). and if the user knows the password, it decrypts it (the script downloads if there is no ccrypt software on the system.)</p>
        <img src="2022-05-15_17-36.png" alt="database2-tools">
        <p>links: <a href="https://github.com/lastpingu/parola">parola.bash</a> <a href="http://ccrypt.sourceforge.net/">ccrypt</a></p>
        <h1>-------------------------------------------------------------</h1>
    </div></div></pre>

</body>
</html>